<?xml version="1.0"?>
<!--
/**
 * Fontis Blog Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * Parts of this software are derived from code originally developed by
 * Robert Chambers <magento@robertchambers.co.uk>
 * and released as "Lazzymonk's Blog" 0.5.8 in 2009.
 *
 * @category   Fontis
 * @package    Fontis_Blog
 * @copyright  Copyright (c) 2016 Fontis Pty. Ltd. (https://www.fontis.com.au)
 * @license    https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <modules>
        <Fontis_Blog>
            <version>2.0.0</version>
            <url_key>blog</url_key>
        </Fontis_Blog>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fontis_Blog after="Mage_Adminhtml">Fontis_Blog_Manage</Fontis_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>fontis</use>
                <args>
                    <module>Fontis_Blog</module>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <fontis_blog module="Fontis_Blog">
                    <file>fontis/blog.xml</file>
                </fontis_blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fontis_Blog>
                    <files>
                        <default>Fontis_Blog.csv</default>
                    </files>
                </Fontis_Blog>
            </modules>
        </translate>
        <cache>
            <pages>
                <fontis_blog>blog</fontis_blog>
            </pages>
            <models>
                <fontis_blog>blog/blog</fontis_blog>
                <fontis_blog_post>blog/post</fontis_blog_post>
                <fontis_blog_cat>blog/cat</fontis_blog_cat>
                <fontis_blog_tag>blog/tag</fontis_blog_tag>
                <fontis_blog_comment>blog/comment</fontis_blog_comment>
            </models>
            <model_registry>
                <current_blog>
                    <registry_key>current_blog_object</registry_key>
                    <model_classname>blog/blog</model_classname>
                </current_blog>
                <current_blog_post>
                    <registry_key>current_blog_post</registry_key>
                    <model_classname>blog/post</model_classname>
                </current_blog_post>
                <current_blog_category>
                    <registry_key>current_blog_category</registry_key>
                    <model_classname>blog/cat</model_classname>
                </current_blog_category>
                <current_blog_tag>
                    <registry_key>current_blog_tag</registry_key>
                    <model_classname>blog/tag</model_classname>
                </current_blog_tag>
                <current_blog_author>
                    <registry_key>current_blog_author</registry_key>
                    <model_classname>blog/author</model_classname>
                </current_blog_author>
            </model_registry>
        </cache>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <fontis_blog_setup_menu>
                        <class>blog/observer_topmenu</class>
                        <method>prepareMenu</method>
                    </fontis_blog_setup_menu>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Fontis_Blog>
                    <files>
                        <default>Fontis_Blog.csv</default>
                    </files>
                </Fontis_Blog>
            </modules>
        </translate>
        <layout>
            <updates>
                <fontis_blog module="Fontis_Blog">
                    <file>fontis/blog.xml</file>
                </fontis_blog>
            </updates>
        </layout>
        <global_search>
            <blog_posts>
                <class>blog/adminhtml_search_posts</class>
                <acl>blog/posts</acl>
            </blog_posts>
        </global_search>
    </adminhtml>

    <global>
        <models>
            <blog>
                <class>Fontis_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Fontis_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>fontis_blog</table>
                    </blog>
                    <config>
                        <table>fontis_blog_config</table>
                    </config>
                    <store>
                        <table>fontis_blog_store</table>
                    </store>
                    <post>
                        <table>fontis_blog_post</table>
                    </post>
                    <comment>
                        <table>fontis_blog_comment</table>
                    </comment>
                    <cat>
                        <table>fontis_blog_cat</table>
                    </cat>
                    <post_cat>
                        <table>fontis_blog_post_cat</table>
                    </post_cat>
                    <tag>
                        <table>fontis_blog_tag</table>
                    </tag>
                    <post_tag>
                        <table>fontis_blog_post_tag</table>
                    </post_tag>
                    <author>
                        <table>fontis_blog_author</table>
                    </author>
                    <!-- legacy table names -->
                    <legacy_blog>
                        <table>fontis_blog</table>
                    </legacy_blog>
                    <legacy_store>
                        <table>fontis_blog_store</table>
                    </legacy_store>
                    <legacy_post_store>
                        <table>fontis_blog_post_store</table>
                    </legacy_post_store>
                    <legacy_cat_store>
                        <table>fontis_blog_cat_store</table>
                    </legacy_cat_store>
                </entities>
            </blog_mysql4>
            <sitemap>
                <rewrite>
                    <!-- This rewrite will be overridden by the Fontis_Sitemap extension.
                         The code is left here because it will still function correctly if the Fontis_Sitemap extension
                         isn't installed. -->
                    <sitemap>Fontis_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <resources>
            <fontisblog_setup>
                <setup>
                    <module>Fontis_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fontisblog_setup>
            <fontisblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fontisblog_write>
            <fontisblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fontisblog_read>
        </resources>
        <blocks>
            <blog>
                <class>Fontis_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Fontis_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <!-- This must be in global, as the frontend event space has not yet been loaded. -->
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Fontis_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>

            <!-- Algolia Integration -->
            <fontis_algolia_cms_entity_index_before>
                <observers>
                    <blog_algolia_index>
                        <class>blog/observer_algolia</class>
                        <method>getAllBlogContent</method>
                    </blog_algolia_index>
                </observers>
            </fontis_algolia_cms_entity_index_before>
            <blog_post_save_commit_after>
                <observers>
                    <blog_algolia_post_reindex>
                        <class>blog/observer_algolia</class>
                        <method>reindexPost</method>
                    </blog_algolia_post_reindex>
                </observers>
            </blog_post_save_commit_after>
            <blog_post_delete_commit_after>
                <observers>
                    <blog_algolia_post_delete>
                        <class>blog/observer_algolia</class>
                        <method>deletePost</method>
                    </blog_algolia_post_delete>
                </observers>
            </blog_post_delete_commit_after>
            <blog_blog_save_commit_after>
                <observers>
                    <blog_algolia_post_reindex>
                        <class>blog/observer_algolia</class>
                        <method>reindexBlog</method>
                    </blog_algolia_post_reindex>
                </observers>
            </blog_blog_save_commit_after>
            <blog_blog_delete_commit_after>
                <observers>
                    <blog_algolia_blog_delete>
                        <class>blog/observer_algolia</class>
                        <method>deleteBlog</method>
                    </blog_algolia_blog_delete>
                </observers>
            </blog_blog_delete_commit_after>
            <blog_cat_save_commit_after>
                <observers>
                    <blog_algolia_cat_reindex>
                        <class>blog/observer_algolia</class>
                        <method>reindexCat</method>
                    </blog_algolia_cat_reindex>
                </observers>
            </blog_cat_save_commit_after>
            <blog_cat_delete_commit_after>
                <observers>
                    <blog_algolia_cat_delete>
                        <class>blog/observer_algolia</class>
                        <method>deleteCat</method>
                    </blog_algolia_cat_delete>
                </observers>
            </blog_cat_delete_commit_after>
        </events>
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
        <canonical_helpers>
            <blog_home_page>
                <!-- Necessary to ensure page 1 is normalised -->
                <sort_order>20</sort_order>
                <registry>fontis_blog_index</registry>
                <callback>
                    <object>blog/provider</object>
                    <function>getBlogUrlPath</function>
                </callback>
            </blog_home_page>
            <blog_cat_page>
                <!-- Necessary to ensure page 1 is normalised -->
                <sort_order>20</sort_order>
                <registry>current_blog_category</registry>
                <callback>
                    <object>blog/provider</object>
                    <function>getBlogCatUrlPath</function>
                </callback>
            </blog_cat_page>
        </canonical_helpers>
        <fontis_richsnippets>
            <blog_home_page>
                <registry>fontis_blog_index</registry>
                <callback>
                    <object>blog/provider_richSnippets</object>
                    <function>getBlogMetadata</function>
                </callback>
            </blog_home_page>
            <blog_cat_page>
                <registry>current_blog_category</registry>
                <callback>
                    <object>blog/provider_richSnippets</object>
                    <function>getBlogCatMetadata</function>
                </callback>
            </blog_cat_page>
            <blog_post_page>
                <registry>current_blog_post</registry>
                <callback>
                    <object>blog/provider_richSnippets</object>
                    <function>getBlogPostMetadata</function>
                </callback>
            </blog_post_page>
        </fontis_richsnippets>
        <opengraph_helpers>
            <blog_home_page>
                <registry>fontis_blog_index</registry>
                <callback>
                    <object>blog/provider_opengraph</object>
                    <function>getBlogMetadata</function>
                </callback>
            </blog_home_page>
            <blog_cat_page>
                <registry>current_blog_category</registry>
                <callback>
                    <object>blog/provider_opengraph</object>
                    <function>getBlogCatMetadata</function>
                </callback>
            </blog_cat_page>
            <blog_post_page>
                <registry>current_blog_post</registry>
                <callback>
                    <object>blog/provider_opengraph</object>
                    <function>getBlogPostMetadata</function>
                </callback>
            </blog_post_page>
        </opengraph_helpers>
        <cms_directives>
            <blog>
                <helper>blog/provider</helper>
                <function>getBlogUrl</function>
            </blog>
            <blogpost>
                <helper>blog/provider</helper>
                <function>getBlogPostUrl</function>
            </blogpost>
            <blogcat>
                <helper>blog/provider</helper>
                <function>getBlogCatUrl</function>
            </blogcat>
            <blogtag>
                <helper>blog/provider</helper>
                <function>getBlogTagUrl</function>
            </blogtag>
            <blogarchv>
                <helper>blog/provider</helper>
                <function>getBlogArchiveUrl</function>
            </blogarchv>
            <blogauthor>
                <helper>blog/provider</helper>
                <function>getBlogAuthorUrl</function>
            </blogauthor>
        </cms_directives>
        <fontis_sitemap>
            <sitemaps>
                <blog>
                    <class>blog/sitemap_collection</class>
                </blog>
            </sitemaps>
        </fontis_sitemap>
    </global>

    <default>
        <fontis_blog>
            <blog>
                <title>Blog</title>
                <blogcrumbs>1</blogcrumbs>
                <dateformat>long</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <wysiwyg_post>enabled</wysiwyg_post>
                <wysiwyg_summary>enabled</wysiwyg_summary>
            </blog>
            <routing>
                <cat>cat</cat>
                <tag>tag</tag>
                <author>author</author>
            </routing>
            <menu>
                <left>0</left>
                <right>1</right>
                <recent>5</recent>
                <tags>1</tags>
                <top>0</top>
                <footer>0</footer>
                <primary>1</primary>
            </menu>
            <lists>
                <readmore>500</readmore>
                <usesummary>1</usesummary>
                <perpage>5</perpage>
            </lists>
            <posts>
                <title_format>[blog:title] - [post:title]</title_format>
            </posts>
            <comments>
                <enabled>1</enabled>
                <login>0</login>
                <approval>0</approval>
                <loginauto>0</loginauto>
                <recaptcha>0</recaptcha>
                <grav_enabled>0</grav_enabled>
                <grav_size>75</grav_size>
                <grav_default>0</grav_default>
            </comments>
            <archives>
                <enabled>1</enabled>
                <type>2</type>
                <order>asc</order>
                <showcount>1</showcount>
            </archives>
            <authors>
                <enabled>0</enabled>
                <label>Authors</label>
                <heading_format>[author:name]</heading_format>
            </authors>
            <rss>
                <enabled>1</enabled>
                <visible>2</visible>
                <image>images/logo.gif</image>
                <usesummary>0</usesummary>
                <showauthor>0</showauthor>
            </rss>
            <sitemap>
                <priority_list>0.5</priority_list>
                <priority_post>0.75</priority_post>
            </sitemap>
            <opengraph>
                <post_default_image>image</post_default_image>
            </opengraph>
            <search>
                <include_in_search>0</include_in_search>
                <attributes_to_index>title,post_content,summary_content,identifier,meta_keywords,meta_description,image,small_image</attributes_to_index>
            </search>
            <advanced>
                <add_default_layout_handles>1</add_default_layout_handles>
            </advanced>
        </fontis_blog>
    </default>
</config>
